.plane {
	width     : 100%;
	height    : 100vh;
	font-size : 16px;
	background: #f2f2f2;
	user-select: none;
}

.hover1:hover {
	background: #fbfbfb;
}

.plane .cursor {
	cursor: pointer;
}

.plane .flex {
	display: flex;
}

.plane .ai-center {
	align-items: center;
}

.plane .jc-center {
	justify-content: center;
}